<!-- cart.handlebars -->
<h2>Carrito {{cartId}}</h2>

<div style="display: flex; gap: 35px; margin: 20px;">
   {{#each products}}
   <div class="product" style="border: 1px solid #ccc; padding: 10px;">
      <p>Producto: {{this.title}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Cantidad: {{this.quantity}}</p>
      <p>id: {{this._id}}</p>
   </div>
   {{/each}}
</div>
<form action="https://backend-55575-production.up.railway.app/api/carts/{{cartId}}/purchase" method="post">
   <button type="submit">Comprar</button>
</form>
<a href="/home"><button>Volver</button></a>

<script src="/js/Cart.js"></script>