<div>
   <h1>BIENVENIDO {{user.first_name}}</h1>
   <p>Email: {{user.email}}</p>
   <p>Edad: {{user.age}}</p>
   <p>Rol: {{user.role}}</p>
   <a href="/api/sessions/logout"><button>Cerrar Sesion</button></a>
   <a href="/api/carts/{{user.cart}}"><button>Ir al carrito</button></a>
</div>
<div style="display: flex; gap: 35px; flex-wrap: wrap; justify-content: center; margin-top: 50px;">
   {{#each products}}
   <div class="product" style="width: 386px; border: 1px solid #ccc; padding: 10px;">
            <p>title: {{this.title}}</p> 
            <p>description: {{this.description}}</p>
            <p>code: {{this.code}}</p>
            <p>price: ${{this.price}}</p>
            <p>status: {{this.status}}</p>
            <p>stock: {{this.stock}}</p>
            <p>category: {{this.category}}</p>
            <p>thumbnail: ["{{this.thumbnail}}"]</p>
            <p>owner: {{this.owner}}</p>
            <p>id: {{this._id}}</p>
            <p>
               <form id="addToCartForm-{{this._id}}" action="https://backend-55575-production.up.railway.app/api/carts/{{../cartId}}/product/{{this._id}}" method="post">
                  <button type="submit">Agregar al carrito</button>
               </form>
            </p>
   </div>
{{/each}}
</div>

<script src="/js/addProductToCart.js"></script>