<h1>Proceso de Pago</h1>
    <div class="products-container">
        {{#each products}}
            <div class="product">
                <p>Producto: {{this.title}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
                <p>ID: {{this._id}}</p>
            </div>
        {{/each}}
    </div>

    <!-- Formulario de Pago -->
    <form id="payment-form" action="/api/payments/ProcesToPay?id={{CartId}}" method="POST">
        <!-- Campos para la información del cliente, como nombre, dirección, etc. -->

        <!-- Elemento de Stripe para el número de tarjeta -->
        <div id="card-element">
            <!-- Este espacio será ocupado por los elementos de Stripe -->
        </div>
        
        <!-- Mostrar errores del elemento de Stripe -->
        <div id="card-errors" role="alert"></div>

        <!-- Botón de enviar -->
        <button type="submit" id="submit-button">Pagar</button>
    </form>

   <script type="module" src="/js/payment.js"></script>